LOCAL_API_URL=http://localhost:3001
LOCAL_APPLICATION_URL=http://localhost:3003
LOCAL_DASHBOARD_URL=http://localhost:3000/
LOCAL_FORMS_URL=https://forms.qa.codeyourfuture.io/
LOCAL_MONGODB_URI=use your own
LOCAL_CYF_API_PATH=use your own
LOCAL_ADMIN_ID=use your own
LOCAL_ADMIN_EMAIL=use your own
QA_API_URL=https://cyf-api.qa.codeyourfuture.io
QA_APPLICATION_URL=https://application-process.qa.codeyourfuture.io/
QA_DASHBOARD_URL=https://forms.qa.codeyourfuture.io/
QA_FORMS_URL=https://forms.qa.codeyourfuture.io/
QA_MONGODB_URI=use your own
QA_CYF_API_PATH=use your own path to cyf-api
QA_ADMIN_ID=use your own id from your database
QA_ADMIN_EMAIL=use your own email from your database
STAGING_API_URL=http://localhost:3001
STAGING_APPLICATION_URL=http://localhost:3003
STAGING_DASHBOARD_URL=http://localhost:3000/
STAGING_FORMS_URL=https://forms.qa.codeyourfuture.io/
STAGING_MONGODB_URI=use your own
STAGING_CYF_API_PATH=use your own
STAGING_ADMIN_ID=use your own
STAGING_ADMIN_EMAIL=use your own
PRODUCTION_API_URL=http://localhost:3001
QA_TOKEN=user your own
STAGING_TOKEN=use your own